({:binary "111111", :name "The Dynamic", :number 1}
 {:binary "000000", :name "The Magnetic", :number 2}
 {:binary "100010", :name "Difficulty", :number 3}
 {:binary "010001", :name "Inexperience", :number 4}
 {:binary "111010", :name "Waiting", :number 5}
 {:binary "010111", :name "Stress", :number 6}
 {:binary "010000", :name "Discipline", :number 7}
 {:binary "000010", :name "Holding Together", :number 8}
 {:binary "111011", :name "Passive Restraint", :number 9}
 {:binary "110111", :name "Cautious Advance", :number 10}
 {:binary "111000", :name "Harmony", :number 11}
 {:binary "000111", :name "Divorcement", :number 12}
 {:binary "101111", :name "Union of Forces", :number 13}
 {:binary "111101", :name "Wealth", :number 14}
 {:binary "001000", :name "Temperance", :number 15}
 {:binary "000100",
  :name "Enthusiasm/Self-Deception/Repose",
  :number 16}
 {:binary "100110", :name "Following", :number 17}
 {:binary "011001", :name "Repair", :number 18}
 {:binary "110000", :name "Approach", :number 19}
 {:binary "000011", :name "Contemplation", :number 20}
 {:binary "100101", :name "Discernment", :number 21}
 {:binary "101001", :name "Persona", :number 22}
 {:binary "000001", :name "Disintegration", :number 23}
 {:binary "100000", :name "Return", :number 24}
 {:binary "100111", :name "Innocence", :number 25}
 {:binary "111001", :name "Controlled Power", :number 26}
 {:binary "100001", :name "Nourishment", :number 27}
 {:binary "011110", :name "Critical Mass", :number 28}
 {:binary "010010", :name "Danger", :number 29}
 {:binary "101101", :name "Clarity", :number 30}
 {:binary "001110", :name "Initiative (Influence)", :number 31}
 {:binary "011100", :name "Consistency", :number 32}
 {:binary "001111", :name "Retreat", :number 33}
 {:binary "111100", :name "Great Power", :number 34}
 {:binary "000101", :name "Advance of Consciousness", :number 35}
 {:binary "101000", :name "Clouded Perception", :number 36}
 {:binary "101011", :name "The Family", :number 37}
 {:binary "110101", :name "Mutual Alienation", :number 38}
 {:binary "001010", :name "Impasse", :number 39}
 {:binary "010100", :name "Liberation", :number 40}
 {:binary "110001", :name "Compensating Sacrifice", :number 41}
 {:binary "100011", :name "Increase", :number 42}
 {:binary "111110", :name "Resoluteness", :number 43}
 {:binary "011111", :name "Temptation", :number 44}
 {:binary "000110",
  :name "Gathering Together (Contraction)",
  :number 45}
 {:binary "011000", :name "Pushing Upward", :number 46}
 {:binary "010110", :name "Oppression", :number 47}
 {:binary "011010", :name "The Well", :number 48}
 {:binary "101110", :name "Metamorphosis", :number 49}
 {:binary "011101", :name "The Sacrificial Vessel", :number 50}
 {:binary "100100", :name "Shock/Thunder", :number 51}
 {:binary "001001", :name "Keeping Still", :number 52}
 {:binary "001011", :name "Gradual Progress", :number 53}
 {:binary "110100", :name "Propriety/Making-Do", :number 54}
 {:binary "101100",
  :name "Abundance (Expansion of Awareness)",
  :number 55}
 {:binary "001101", :name "Transition", :number 56}
 {:binary "011011", :name "Penetration", :number 57}
 {:binary "110110", :name "Joy (Self-indulgence)", :number 58}
 {:binary "010011", :name "Expansion (Dispersion)", :number 59}
 {:binary "110010", :name "Restrictive Regulations", :number 60}
 {:binary "110011", :name "Inner Truth", :number 61}
 {:binary "001100", :name "Small Powers", :number 62}
 {:binary "101010", :name "Completion", :number 63}
 {:binary "010101", :name "Unfinished Business", :number 64})
